<!DOCTYPE html>

<h1>Database Server</h1>
<h2>Please fill in the key and value below</h2>

<form action="/names" method="post">
  <label for="key_input">
    Key:
     <input type ="text" name="key_input">
  </label>

   <label for="value_input">
    Value:
     <input type ="text" name="value_input">
   </label>

 <input type="submit" value="Submit">
</form>
